<usstock>
  <db>
    <jdbc>com.mysql.jdbc.Driver</jdbc>
    <host>localhost</host>
    <user>test</user>
    <passwd>test</passwd>
    <dbname>us</dbname>
  </db>
  <universe>
    <stock>^DJI</stock>
    <stock>AA</stock>
    <stock>AXP</stock>
    <stock>BA</stock>
    <stock>BAC</stock>
    <stock>CAT</stock>
    <stock>CSCO</stock>
    <stock>CVX</stock>
    <stock>DD</stock>
    <stock>DIS</stock>
    <stock>GE</stock>
    <stock>HD</stock>
    <stock>HPQ</stock>
    <stock>IBM</stock>
    <stock>INTC</stock>
    <stock>JNJ</stock>
    <stock>JPM</stock>
    <stock>MDLZ</stock>
    <stock>KO</stock>
    <stock>MCD</stock>
    <stock>MMM</stock>
    <stock>MRK</stock>
    <stock>MSFT</stock>
    <stock>PFE</stock>
    <stock>PG</stock>
    <stock>T</stock>
    <stock>TRV</stock>
    <stock>UTX</stock>
    <stock>VZ</stock>
    <stock>WMT</stock>
    <stock>XOM</stock>
    <stock>AAPL</stock>
    <stock>ORCL</stock>
    <stock>GOOG</stock>
    <stock>QCOM</stock>
    <stock>AMZN</stock>
    <stock>AMGN</stock>
    <stock>CMCSA</stock>
  </universe>
  <startday>2012-11-01</startday>
</usstock>